[submodule "site-lisp/breadcrumb"]
	path = site-lisp/breadcrumb
	url = git://github.com/josv/breadcrumb.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git://github.com/josv/coffee-mode.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = git://github.com/josv/expand-region.el.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git://github.com/josv/yasnippet.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = git://github.com/josv/ace-jump-mode.git
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = git://github.com/josv/browse-kill-ring.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = git://github.com/josv/multiple-cursors.el
[submodule "site-lisp/ag"]
	path = site-lisp/ag
	url = https://github.com/Wilfred/ag.el.git
