[submodule "site-lisp/breadcrumb"]
	path = site-lisp/breadcrumb
	url = git://github.com/josv/breadcrumb.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git://github.com/josv/coffee-mode.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = git://github.com/josv/expand-region.el.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git://github.com/josv/yasnippet.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = git://github.com/josv/ace-jump-mode.git
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = git://github.com/josv/browse-kill-ring.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = git://github.com/josv/multiple-cursors.el
[submodule "site-lisp/ag"]
	path = site-lisp/ag
	url = https://github.com/Wilfred/ag.el.git
[submodule "site-lisp/wgrep"]
	path = site-lisp/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/emacs-oauth"]
	path = site-lisp/emacs-oauth
	url = https://github.com/psanford/emacs-oauth.git
[submodule "site-lisp/emacs-readability"]
	path = site-lisp/emacs-readability
	url = https://github.com/ShingoFukuyama/emacs-readability.git
[submodule "site-lisp/ov"]
	path = site-lisp/ov
	url = https://github.com/ShingoFukuyama/ov.el.git
[submodule "site-lisp/async"]
	path = site-lisp/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "site-lisp/git-timemachine"]
	path = site-lisp/git-timemachine
	url = https://github.com/pidu/git-timemachine.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/monky"]
	path = site-lisp/monky
	url = https://github.com/ananthakumaran/monky.git
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/mo-git-blame"]
	path = site-lisp/mo-git-blame
	url = https://github.com/mbunkus/mo-git-blame.git
